/* button{
    cursor: pointer;
    font:inherit;
    border-radius: 6px;
    border:1px solid black;
    background-color: #ffbb00;
    color: black;
    padding: 0.5rem 2rem;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.26);
} */
/* button{
    box-shadow: "0 6px 30px -10px rgba(#CCCCCC, 1)";
    cursor: pointer;
    font:inherit;
    border-radius: 6px;
    border:1px solid black;
    background-color: wheat;
} */

.navbarSection{
    /* padding: 1.8rem 0; */
    background: url("https://i.pinimg.com/736x/72/5f/38/725f38e0a030ded0e6ac9ce46532e996.jpg") no-repeat;
    background-size: contain;
    background-color: #2b2c2d;
    position: relative;
    z-index: 0;
}

.allMatchSection{
    /* margin-top: 2rem; */
    /* padding: 2rem 0; */
}
.parent{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 1rem 0 0 0;
}

.superParentBlack{
    /* background-color: #2b2c2d; */
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-bottom: 1px solid white;
}

.superParentMaroon{
    /* background-color: #b40000; */
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-bottom: 1px solid white;
}

.parent h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    padding: 2rem 1rem;
}

.startMatch{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    padding: 2rem 1rem;
    cursor: pointer;
}

.left{
    width: 50%;
    text-align: center;
    position: relative;
    /* padding: 2rem 0; */
}

.right
{
    width: 50%;
    text-align: center;
}

.left p{
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}
.left p:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
}

.right p{
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}

.right p:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
}

.toWin{
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom p{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin-bottom: 2rem;
}

.date{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 1rem 0 0 0;
}

