.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: #b40000;
    margin-bottom: 2rem;
}

.top2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: #b40000;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: white;
}

.top p{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

.top2 p{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

/* .parent{
    height: 100vh;
} */

.parentTop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
}
.parentSection{
    padding: 2rem 0;
}
.parentTop p{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}


#battingText{
    font-size: 2rem;
    font-weight: 600;
}
#score{
    font-size: 1.8rem;
}

.toWin{
    font-size: 1.8rem;
    font-weight: 450;
    color: white;
    padding-top: 1.6rem;
    text-align: center;
}


.parentMiddle{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    padding: 1.4rem 1rem;
    margin-bottom: 1.6rem;
    background-color: white;
    border-radius: 0.8rem;
    border: 2px black solid;
    align-items: center;
}

.parentMiddle2{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    padding: 1.4rem 1rem;
    margin-bottom: 1.6rem;
    background-color: white;
    border-radius: 0.8rem;
    border: 2px black solid;
    align-items: center;
}

.parentMiddle2:nth-child(2){

    background-color: navy;
}

.parentMiddle2:nth-child(2) p{
    color: white;
}


.parentMid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
}

.parentMiddleTop{
    font-size: 1.6rem;
    font-weight: 400;
    color: navy;
}



.parentMiddleBottom{
    font-size: 2rem;
    font-weight: 600;
    color: navy;
}

.parentMiddleBottomOutBy{
    font-size: 1.2rem;
    font-weight: 400;
    color: navy;
}

.section3 p{
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
}
.section3:nth-child(1){
    margin-right: 1rem;
}
.section3{
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0.26);
    background-color: white;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.timeline{
    display: flex;
    overflow-x: scroll;
}
.timelineBowl{
    /* border-radius: 100%; */
    background-color: #2b2c2d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0.5rem;
}

.timelineBowl p{
    color: white;
    padding: 1rem 1rem;
    margin-bottom: 0rem;
}

.bottom{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 1rem;
    padding: 1rem 0;
}
.bottomLeft{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* justify-content:space-evenly; */
    /* align-items:center; */
}
#btnBottom{
    background-color: white;
    color: #2b2c2d;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding: 1.6rem;
}

#btnRightBottom{
    background-color: white;
    color: #2b2c2d;
} 

.bottomRightTop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.bottomRightBottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
}

.bottomRightBottom label{
    display: flex;
    align-items: center;
}

.bottomRightBottom label p{
    font-size: 2rem;
    color: white;
    margin-left: 0.5rem;
}

.bottomRightBottom label input{
    width: 1.8rem;
    height: 1.8rem;
}

.inningOver{
    margin-top: 3rem;
}

.mainContent{
    padding: 0 1rem;
}

.mainContent2{
    padding: 0 1rem;
} 
.mainContentOrangeCap{
    padding: 1rem 1rem;
}


.ctaForm
{
    width: 80%;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: black;
    border: none;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 0.8rem;
}

.ctaForm *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.updation{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
}

.updationButton {
    width: 50%;
    padding: 1rem 1rem;
    border: 2px black solid;
    margin-left: 1.4rem;
    color: white;
    margin-bottom: 1.4rem;
    background-color: black;
}

/* .background{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROx1BMpHwbH_-IxLV0tgFfv5-tjgKQN18DFg&usqp=CAU") no-repeat;
    background-size:100% 100%;
} */





